<div class="wrapper">
  <div class="header">
    <mat-icon class="ic" (click)="close()">arrow_back</mat-icon>
    <span class="title">Notifications</span>
  </div>
  <div class="checkbox-con">
    <label>
      <input type="checkbox" name="sounds"> Sounds
    </label>
  </div>
  <div class="checkbox-con">
    <label>
      <input type="checkbox" name="sounds"> Desktop Alerts
    </label>
  </div>
  <div class="checkbox-con">
    <label>
      <input type="checkbox" name="sounds"> Show Previews
    </label>
    <h5 class="subtext">Display message text in desktop alerts</h5>
  </div>
  <div class="checkbox-con">
    <label>
      <input type="checkbox" name="sounds"> Turn off all desktop notifications
    </label>
  </div>

</div>
