/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  color: #000000;
  background-color: #dddbd1;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  overflow-y: visible;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

/* .qrcode {
  position: relative;
  width: 100%;
  height: 200;
  margin: 0 auto;
} */
